<!DOCTYPE html>
<html>
<body>

<form action="/download" method="post">
  <label for="fullName">Full name:</label><br>
  <input type="text" id="fullName" name="fullName" placeholder="full name"><br><br>
  <label for="registeredAt">Registered At: </label><br>
  <input type="text" id="registeredAt" name="registeredAt" placeholder="registeredAt"><br><br>
  <label for="date">Date: </label><br>
  <input type="date" id="date" name="date" placeholder="Date"><br><br>
  <label for="printName">Print Name: </label><br>
  <input type="text" id="printName" name="printName" placeholder="Print Name"><br><br>
  <label for="title">Title: </label><br>
  <input type="text" id="title" name="title" placeholder="Title"><br><br>
 
  <label for="date2">Date: </label><br>
  <input type="date" id="date2" name="date2" placeholder="Date"><br><br>
  <label for="printName2">Print Name: </label><br>
  <input type="text" id="printName2" name="printName2" placeholder="Print Name"><br><br>
  <label for="title2">Title: </label><br>
  <input type="text" id="title2" name="title2" placeholder="Title"><br><br>


  <input type="submit" value="Submit">
</form> 


</body>
</html>